body{
    background-color: white;
}
.my-order{
    border: 1.5px dotted #606060;
    padding: 8px 20px;
    border-radius: 26px;
    margin: 2px 25px;
    grid-area: qnt;
}
.cart-product-details {
    grid-template-areas:
        "title title title"
        "price qnt qnt";
}
.order-status{
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.order-status p{
    font-size: 17px;
   margin-left: 10px;
    
}
.cart-product-image {
    border-radius: 14px;
    
}
 a:focus, a:active,
                .slideshow-container:focus, .slideshow-container:active,
                .mySlides img:focus, .mySlides img:active {
                    outline: none !important;
                    box-shadow: none !important;
                }
                a, .slideshow-container, .mySlides img {
                    -webkit-tap-highlight-color: transparent !important;
                }