
@font-face {
    font-family: Degular-webfont;
    src: url("Degular/degular-light-webfont.woff") format("woff");
}
@font-face {
    font-family: Degular-bold;
    src: url("Degular/Degular-Bold.woff") format("woff");
}
@font-face {
    font-family: Degular-medium;
    src: url("Degular/Degular-Medium.woff") format("woff");
}
@font-face {
    font-family: Degular-semibold;
    src: url("Degular/Degular-Semibold.woff") format("woff");
}
@font-face {
    font-family: Degular-Regular;
    src: url("Degular/Degular-Regular.woff") format("woff");
}
*{
   border:0;
   padding:0;
   margin: 0;
   box-sizing: border-box;
   font-family:Degular-semibold; 
}
html {
    font-size: 100%; /* 1rem = 16px */
    }
body{
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.mySlides {
    display: none;
}
@keyframes slide{
    0%{transform: translateX(0px);}
    100%{transform: translateX(700px);}
}
@keyframes slide1{
    0%{transform: translateX(0px);}
    100%{transform: translateX(-700px);}
}
    @keyframes slide3{
        0%{transform: translateX(700px);}
        100%{transform: translateX(0px);}
    }
    @keyframes slide4{
        0%{transform: translateX(-700px);}
        100%{transform: translateX(0px);}
}
 a, a:focus, a:active {
                            outline: none !important;
                            box-shadow: none !important;
                        }
   