   a:focus, a:active, .product:focus, .product:active,
                .slideshow-container:focus, .slideshow-container:active,
                .mySlides img:focus, .mySlides img:active {
                    outline: none !important;
                    box-shadow: none !important;
                }
                a, .product, .slideshow-container, .mySlides img {
                    -webkit-tap-highlight-color: transparent !important;
                }
.Home{
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(255, 255, 255);
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.homediv{
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    padding: 1rem;
    gap: 1.1rem;
   
}
.homehead{
    font-size: clamp(2.14rem, 6vw, 3.125rem);
    line-height: clamp(2.18rem, 6vw, 3.125rem);
   
}
.homepara{
    font-family: Degular-webfont;
    font-size: clamp(.2rem, 4vw, 1.2rem);
    line-height: clamp(.2rem, 4vw, 1.7rem);
    max-width: clamp(90%, 2vw, 70%);
   
}
.Home button{
    width:160px;
    height: 45px;
    border: 1.5px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
    border-radius: 30px;
    text-align: left;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    padding-left: 10px;
    margin-top: 20px;
}
@media(max-width:600px){
    .homediv{
    margin-top: 25vh;
    padding-left: 30px;
    }
    
.homepara{
    font-family: Degular-webfont;
    font-size:12px;
    line-height: 15px;
    max-width: clamp(90%, 2vw, 70%);
    transform: translateY(-10px);
}

.Home button{
     transform: translateY(-10px);
}
}