*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.replacement-return{
    background-color: #fff;
    padding: 35px 30px;
}
.heading{
    font-family: Degular;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28.41px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
}

.condainers{
    margin-top: 20px;
}
.sub-hedding{
     font-family: Degular-semibold;
font-size: 21px;
letter-spacing: 0%;
}
.sub-sub-hedding{
    font-family: Degular-regular;
    color: black;
}
.text-condent p{
    font-family: Degular-Regular;
font-weight: 400;
font-size: 17px;
letter-spacing: 0%;
color: black;
}
